@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

html {
  min-height: 100%;
  background-color: #E5E5E5;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Header */
.navigation-link {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.navigation-hotels,
.apply-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Иконки в блоке дополнительных ссылок главного меню */
.navigation-search {
  background-image: url("../images/search.svg");
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: block;
}

.navigation-favorites {
  background-image: url("../images/favorites.svg");
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: block;
}
/* Header/Сетка */

.navigation {
  display: flex;
  padding-left: 71px;
  
}
.navigation-list {
  display: flex;
}

.navigation-list:nth-child(1) {
  align-items: center;
  justify-content: space-between;
  width: 310px;
  margin-right: 150px;
}

.header-logo {
  width: 138px;
  height: 70px;
  margin-right: 209px;
}

.navigation-list.navigation-user {
  align-items: center;
  justify-content: space-between;
  width: 160px;
  margin-right: 72px;
}
/* End of Header */

/* Main */

/* Sticky-footer */
.main-container {
  flex-grow: 1;
}

/* Main/Стилизация текста */
.block-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.block-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.about-sedona-reasons {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.button-hotels {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.button-subscribe,
.catalog-filters-title,
.download-more-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.breadcrumps-link,
.listing-card-rating {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.filters-reset-button,
.catalog-filters-group label,
.listing-card span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.filters-reset-button {
  outline: none; 
  border: 0;
  background-color: transparent;
}

/* Блок сортировки на странице каталога */
.sorting-found-hotels {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-select-control,
.number-of-items,
option {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
/* Блоки с карточками гостиниц */
.listing-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.listing-card-button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.listing-card-rating {
  text-transform: uppercase;
}

/* Пагинация на странице каталога */

.pagination-item {
  background-color: #83B3D3;
}

.pagination-link {
  color: #ffffff;
}

.pagination-current {
  color: #000000;
  background-color: #E5E5E5;
}
/* Текст белым цветом */
.white {
  color: #ffffff;
}
/* Фоны для белого текста */
.bg-blue {
  background-color: #83B3D3;
}

.bg-brown {
  background-color: #756257;
}

.bg-green {
  background-color: #7DB54F;
}

/* Фоны в блоке "Преимущества" */
.bg-cold-light12 {
  background-color: rgba(131, 179, 211, 0.12);
}

.bg-cold-light20 {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Main/Графика */
/* Фоновое изображение на экране привествия главной страницы */
.about-sedona-greeting {
  background-image: url("../images/index-background.jpg");
  width: 1200px;
  height: 485px;
  text-align: center;
  background-repeat: no-repeat;
}
/* Фоновое изображение блока фильтров на странице каталога гостиниц */
.catalog-bg-image {
  background-image: url("../images/catalog-background.jpg");
  width: 1200px;
  height: 408px;
  padding-top: 35px;
  padding-left: 71px;
  margin-bottom: 45px;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
/* Иконка-ссылка на главную в хлебных крошках */
.breadcrumps-link-main {
  background-image: url(../images/home.svg);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  display: block;
}

.nav-link {
  background-image: url(../images/nav-link.svg);
  width: 5px;
  height: 8px;
  background-repeat: no-repeat;
  display: block;
}
/* Иконки в блоке "Преимущества" на главной странице */
.housing-icon {
  background-image: url("../images/housing-icon.svg");
  width: 75px;
  height: 72px;
  text-align: center;
  background-repeat: no-repeat;
}

.burger-icon {
  background-image: url("../images/burger-icon.svg");
  width: 74px;
  height: 70px;
  text-align: center;
  background-repeat: no-repeat;
}

.souvenir-icon {
  background-image: url("../images/souvenir-icon.svg");
  width: 64px;
  height: 76px;
  text-align: center;
  background-repeat: no-repeat;
}

/* Иконки в блоке сортировки страницы каталога */
.listing-button-tiles {
  background-image: url("../images/mode-tile.svg");
  background-repeat: no-repeat;
}

.listing-button-slides {
  background-image: url("../images/mode-slideshow.svg");
  background-repeat: no-repeat;
}

.listing-button-list {
  background-image: url("../images/mode-list.svg");
  background-repeat: no-repeat;
}

/* Фоновое изображение блока "Подпишитесь на рассылку" главной страницы */
.subscribe {
  background-image: url("../images/background.png");
  width: 1200px;
  height: 411px;
  text-align: center;
}

/* Main/Сетка */

/* Main/Сетка/Главная/Блок привествия */
.about-sedona-greeting {
  margin: 0 auto;
  padding-top: 51px;
  height: 485px;
  box-sizing: border-box;
}

.sedona-description {
  margin: 0 auto;
  padding-top: 63px;
  width: 720px;
  height: 282px;
  text-align: center;
  box-sizing: border-box;
}

.sedona-description .block-title {
  height: 80px;
  margin-bottom: 23px;
}

.sedona-description .reasons {
  margin-bottom: 79px;
}
/* Main/Сетка/Главная/Блок "Преимущества" */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  width: 400px;
  height: 384px;
  align-items: center;
}

.advantages-item.bg-blue {
  width: 1200px;
}

/* Main/Сетка/Главная/Блок поиска гостиниц */
.hotel-search {
  height: 417px;
  padding-top: 91px;
  text-align: center;
  box-sizing: border-box;
}

.hotel-search .block-title {
  height: 50px;
  margin-bottom: 15px;
}

.hotel-search .block-description {
  height: 37px;
  margin-bottom: 73px;
}

/* Main/Сетка/Главная/Блок "Подпишитесь на рассылку" */
.subscribe {
  height: 411px;
  padding-top: 94px;
  text-align: center;
  box-sizing: border-box;
}

.subscribe .block-title,
.catalog-subscribe .block-title {
  
  height: 50px;
  margin-bottom: 15px;
}

.subscribe .block-description,
.catalog-subscribe .block-description {
  height: 72px;
  margin-bottom: 26px;
}

/* Main/Сетка/Каталог/Header */
.inner-title {
  width: 528px;
  height: 68px;
}

.breadcrumps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 111px;
  margin-bottom: 45px;
}

/* Main/Сетка/Каталог/Блок фильтров */
.catalog-filters-form {
  display: flex;
}

/* Main/Сетка/Каталог/Секция блока сортировки, листинга гостиниц, и блока пагинцаии*/
.listing-page {
  padding: 0 71px;
}

/* Main/Сетка/Каталог/Блок сортировки */
.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.listing-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
}

.listing-button {
  width: 48px;
  height: 48px;
  margin-left: 8px;
  background-position: center;
  border: 2px solid #E6E6E6; 
  border-radius: 4px;
  box-sizing: border-box;
}

/* Main/Сетка/Каталог/Блок карточек гостиниц и кнопка "Загрузить еще" */
.listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 31px;
}

.listing-card {
  border-bottom: 1px solid #E6E6E6;
}

.download-more-wrap {
  height: 115px;
  padding-top: 30px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #E6E6E6;
}

.download-more-button {
  width: 625px;
  height: 55px;
}

/* Main/Сетка/Каталог/Блок пагинации */
.pagination-wrap {
  display: flex;
  justify-content: space-between;
  height: 55px;
}
.pagination {
  display: flex;
  width: 375px;
  justify-content: space-between;
  align-items: center;
}

.pagination-item,
.pagination-current {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
}

/* Main/Сетка/Каталог/Блок "Подпишитесь на рассылку" */
.catalog-subscribe-wrap {
  padding-left: 200px;
  padding-top: 89px;
  margin-bottom: 137px;
  box-sizing: border-box;
}
.catalog-subscribe {
  width: 800px;
  height: 224px;
  text-align: center;
}


/* End of Main */

/* Footer */

.footer-contacts {
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
}

/* Иконки в блоке ссылок на страницы соц. сетей */
.twitter-button {
  background-image: url("../images/social-twitter.svg");
  width: 18px;
  height: 15px;
  background-repeat: no-repeat;
  display: block;
}

.facebook-button {
  background-image: url("../images/social-facebook.svg");
  width: 10px;
  height: 18px;
  background-repeat: no-repeat;
  display: block;
}

.youtube-button {
  background-image: url("../images/social-youtube.svg");
  width: 20px;
  height: 16px;
  background-repeat: no-repeat;
  display: block;
}

/* Footer/Сетка */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding-left: 72px;
}

.footer-social-list {
  display: flex;
  width: 108px;
  justify-content: space-between;
}

.footer-made-in-logo {
  margin-right: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}